<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
    <h2>Bem vindo!</h2>

    <h4>
      Quantidade de Negócios que entraram em cada Etapa, por mês do ano de 2017.
    </h4>
    <a class="btn btn-primary btn-lg" [routerLink]="['/fst/solicitacao-um-mes']">Ver consulta</a>

    <h4>
      Quantidade de Negócios que entraram em cada Etapa, por semana do ano de 2017.
    </h4>
    <a class="btn btn-primary btn-lg" [routerLink]="['/fst/solicitacao-um-semana']">Ver consulta</a>

    <h4>
      Total de negócios por mês do ano 2017.
    </h4>
    <a class="btn btn-success btn-lg" [routerLink]="['/fst/solicitacao-dois']">Ver consulta</a>

    <h4>
      Total de negócios por semana do ano 2017.
    </h4>
    <a class="btn btn-success btn-lg" [routerLink]="['/fst/solicitacao-dois-semana']">Ver consulta</a>
  </div>

</section>